.menuBtn {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px;
    position: absolute;
    width: 36px;
} 
md-toolbar h1 {
    font-size: 1.250em;
    font-weight: 400;
    margin: auto;
}

md-content {
    margin-right: 7px; }

.label {
    text-align: left;
    font-size: 14px; }

.s48 {
    width: 48px;
    height: 48px; }

.whiteframedemoBasicUsage md-whiteframe {
  background: #fff;
  margin: 30px;
  height: 100px; }

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }

