<div ng-controller="smartapps.mysongbook.songAddController as songCntrlAdd">
    <form name="addSongForm" ng-submit="save()" >

        <md-toolbar >
            <div class="md-toolbar-tools">
                <h1 class="md-toolbar-tools">
                    <span>Add new song to the book</span>
                </h1>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="More">
                    <md-icon md-svg-icon="img/icons/folder-plus.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content >

            <md-content  layout-padding layout="row" layout-sm="column">
                <md-input-container>
                    <label>Song Number</label>
                    <input type="number" name="songNumber" ng-model="song.songNumber"  >
                </md-input-container>
                <md-input-container >
                    <label>Language</label>
                    <md-select ng-model="song.language">
                        <md-option ng-repeat="language in languages" value="{{language}}">{{language}}</md-option>
                    </md-select>
                </md-input-container>
            </md-content>

            <md-input-container  class="md-block">
                <label>Song Title</label>
                <input  required name="title" ng-model="song.songTitle" >
            </md-input-container>

            <md-list>
                <md-list-item  ng-repeat="stansa in song.stansas" class="md-whiteframe-6dp">
                    <md-input-container >
                        <h4>{{stansa.no}}</h4>
                    </md-input-container>

                    <div layout="column" flex >
                    <md-input-container flex >
                        <textarea ng-model="stansa.lines" ></textarea>
                    </md-input-container>
                    <md-input-container >
                        <md-radio-group layout="row" ng-model="data.group1" >
                            <md-radio-button value="Stansa" class="md-primary">Stansa</md-radio-button>
                            <md-radio-button value="Chorus">Chorus</md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                        </div>
                </md-list-item>
            </md-list>


        </md-content>
        <div>
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button  type = "submit" class="md-raised md-primary" >Save</md-button>
                <md-button class="md-raised">Cancel</md-button>
            </section>
        </div>
    </form>
</div>