<div  ng-controller="smartapps.mysongbook.songEditController" flex >
    <form name="editSongForm" ng-submit="update()">

        <md-toolbar >
            <div class="md-toolbar-tools">
                <h1 class="md-toolbar-tools">
                    <span>Update song</span>
                </h1>
                <span flex></span>
                
            </div>
        </md-toolbar>
        <md-content>

            <md-content  layout-padding layout="row" layout-sm="column">
                <md-input-container>
                    <label>Song Number</label>
                    <input type="number" name="songNumber" ng-model="song.songNumber"  >
                </md-input-container>
                <md-input-container >
                    <label>Language</label>
                    <md-select ng-model="song.language">
                        <md-option ng-repeat="language in languages" value="{{language}}">{{language}}</md-option>
                    </md-select>
                </md-input-container>
                <md-button class="md-fab md-mini md-fab-bottom-right md-primary"  aria-label="addStansa" ng-click="addStansa()">
                    <md-icon md-svg-icon="img/icons/add_stansa.svg"></md-icon>
                </md-button>
                
            </md-content>

            <md-input-container  class="md-block" flex>
                <label>Song Title</label>
                <input  required name="title" ng-model="song.songTitle" >
            </md-input-container>
            
            <md-list flex>
                <md-list-item layout="row"  ng-repeat="stansa in song.stansas" class="md-whiteframe-8dp">
                    <md-input-container layout-align="start start">
                        {{stansa.no}}
                    </md-input-container>
                    <div layout="column" flex>
                        <md-input-container >
                            <textarea ng-model="stansa.lines"  ></textarea>
                        </md-input-container>
                        <md-input-container >
                            <md-radio-group layout="row" ng-model="data.group1" >
                                <md-radio-button value="Stansa" class="md-primary">Stansa</md-radio-button>
                                <md-radio-button value="Chorus">Chorus</md-radio-button>
                            </md-radio-group>
                        </md-input-container>
                        <md-button class="md-mini md-fab md-fab-bottom-right" ng-click="removeStansa($index)">
                            <md-icon md-svg-icon="img/icons/remove.svg"></md-icon>
                        </md-button>
                    </div>
                </md-list-item>
                   
            </md-list>


        </md-content>
        <md-content>
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button  type = "submit" class="md-raised md-primary" >Update</md-button>
                <md-button class="md-raised" ng-href="#/songs/{{song.index_no}}">Cancel</md-button>
            </section>
        </md-content>
    </form>
</div>